<ion-view title="Meu perfil">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-right button-icon icon ion-chatbubbles"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="Digite aqui o seu nome">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Conte um pouco sobre você</span>			
				<textarea placeholder="Aqui é o lugar ideal para as pessoas saberem o que esperar de você." rows="8"></textarea>
			</label>
		</div>
		<div class="padding">
        	<button class="button button-block button-positive">Salvar alterações</button>
      	</div>
	</ion-content>
</ion-view>
